body {
  background-color: black;
}
#box {
  background-color: rgb(65, 189, 189);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -175px;
  margin-left: -200px;
  width: 400px;
  height: 350px;
}
.dot {
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin: 130px 8px 40px 8px;
}
.dots {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: spin 1s infinite linear;
}
#square {
  margin-left: 175px;
}
#square :nth-child(2) {
  animation-delay: 0.05s;
}
#square :nth-child(3) {
  animation-delay: 0.1s;
}
#square :nth-child(4) {
  animation-delay: 0.15s;
}
#square :nth-child(5) {
  animation-delay: 0.2s;
}
.square_square {
  background-color: white;
  width: 7px;
  height: 40px;
  display: inline-block;
  animation: bigger 0.8s infinite linear;
}
@keyframes spin {
  form {
    transform: rotateY(90deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

@keyframes bigger {
  0% {
    transform: scaleY(0.5);
  }
  50% {
    transform: scaleY(2);
  }
  100% {
    transform: scaleY(0.5);
  }
}
