body {
  background-color: aquamarine;
}
.change-icon > .fas + .fas,
.change-icon:hover > .fas {
  display: none;
}
.change-icon:hover > .fas + .fas {
  display: inherit;
}
.lock:hover .icon-unlock,
.lock .icon-lock {
  display: none;
}
.lock:hover .icon-lock {
  display: inline;
}
