h1 {
  text-align: center;
  font-family: sans-serif;
}
body {
  margin: 10px;
  background-color: rgb(214, 210, 210);
  text-align: center;
}
div {
  margin: 10px;
  font-family: sans-serif;
}
.white {
  background-color: white;

  height: 350px;
  width: 200px;
  display: inline-block;

  vertical-align: middle;
}

div > div {
  width: 160px;
  height: 310px;
  background-color: teal;
  padding: 10px;
  vertical-align: middle;
}
div > div :nth-child(0) {
  width: 160px;
  height: 400px;

  padding: 10px;
  vertical-align: middle;
}
div:nth-child(1) {
  font-family: sans-serif;
}

div > div :first-child {
  background-color: white;
  height: 70px;
  width: 170px;
  position: relative;
  left: -25px;
  text-align: left;
}
body :nth-child(2) > div {
  background-color: tomato;
}
body :nth-child(5) > div {
  background-color: burlywood;
}
body :nth-child(6) > div {
  background-color: thistle;
}
